* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

.constainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control label{
    padding: 10px 0;
    width: 100%;
}
.form-control select{
    width: 100%;
    padding: 5px 0;
}
.form-control input{
    padding: 5px;
    border: 1px solid cadetblue;
    border-radius: 5px;
}

.form-control select{
    border: 1px solid cadetblue;
    border-radius: 5px;
}

.form-control button{
    margin: 15px 0;
    padding: 5px;
    width: 100%;
    border: none;
    background: cadetblue;
    color: #fff;
    border-radius: 5px;
}

.output{
    padding: 10px 0;
}